* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
    overflow-x: hidden;
    
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #137F62;
    color: white;
}

nav h3 {
    font-style: italic;
    text-align: left;
}

.main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 68px;
    align-items: center;
    background-color: #FFFFFF;
}


a {
    color: white;
    text-decoration: none;

}

.hero_image {
    background-size: contain;
    background-image: url(./assets/images/Mango-Granita-Banner-4320x1200\ \(2\).jpg);
    height: 100vh;
    background-repeat: no-repeat;
}

.main_nav_items {
    color: black;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.tips_heading {
    text-align: center;
    margin: 20px;
}

.category_items {
display: flex;
flex-direction: row;
justify-content: center;
column-gap: 40px;
object-fit: cover;
margin: 40px 40px;
}

.cat_btn {
    color: white;
    background-color: #93C64D;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    display: block;
    margin: auto;
    padding: 10px 20px;

}


/* Product section images */

.tips_items {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    margin: 20px 20px;
    justify-content: center;
}

.tips_btn {
    color: white;
    background-color: #93C64D;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    margin: auto;
    padding: 20px 20px;
    display: block;
}

.tips_section {
    margin: 40px ;
    margin-bottom: 50px;
}


.cat_img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin-bottom: 10px;
}

.tips_img {
    border-radius: 10px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
}