
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #137F62;
    color: white;
}

nav h3 {
    font-style: italic;
    text-align: left;
}

.main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 68px;
    align-items: center;
    background-color: #72502B;
    color: antiquewhite;
}


a {
    color: white;
    text-decoration: none;

}


.hero_items {
    text-align: center;
    justify-content: center;
    background-image: url(./assets/images/organic_products.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.hero_btn {
    color: aqua;
    background-color: #70110F;
    padding: 20px 20px;
    border-radius: 2rem;
    border: none;
    font-weight: bold;
}

.hero_image {
    background-size: cover;
    background-image: url(./assets/images/produce.jpg);
    height: 100vh;
    background-repeat: no-repeat;
}   



.main_nav_items {
    color: whitesmoke;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.tips_heading {
    text-align: center;
    margin: 20px;
}

.category_items {
display: flex;
flex-direction: row;
justify-content: center;
column-gap: 40px;
object-fit: cover;
margin: 40px 40px;
}

.cat_btn {
    color: white;
    background-color: #93C64D;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    display: block;
    margin: auto;
    padding: 10px 20px;

}


/* Product section images */

.tips_items {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    margin: 20px 20px;
    justify-content: center;
}

.tips_btn {
    color: white;
    background-color: #93C64D;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    margin: auto;
    padding: 20px 20px;
    display: block;
}

.tips_section {
    margin: 40px ;
    margin-bottom: 50px;
}


.cat_img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin-bottom: 10px;
}

.tips_img {
    border-radius: 10px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
}

.footer_top {
    text-align: center;
    background-image: url(./assets/images/bg-footer-texture.jpg);
    object-fit: fill;
    padding-bottom: 30px;
    
}

h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.subscribe_text {
    color: white;
    margin-bottom: 10px;
}


.footer_bottom {
    background-color: #137F62;
    color: white;
}

.bottom_items {
display: flex;
flex-direction: row;   
gap: 30px;
padding-top: 30px;
justify-content: center;
padding-bottom: 30px;
}

.fa {
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}