* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
    /* overflow-x: hidden; */
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #137F62;
    color: white;
}

nav h3 {
    font-style: italic;
    text-align: left;
}

.main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 68px;
    align-items: center;
    background-color: #FFFFFF;
}


a {
    color: white;
    text-decoration: none;

}

.hero_image {
    background-size: contain;
    background-image: url(./assets/images/Mango-Granita-Banner-4320x1200\ \(2\).jpg);
    height: 100vh;
    background-repeat: no-repeat;
}

.main_nav_items {
    color: black;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.category_items {
display: flex;
row-gap: 10px;
object-fit: cover;

}

.cat_btn {
    color: white;
    background-color: #0B2D24;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    margin: 15px o;
    padding: 10px 20px;

}


/* Product section images */




.tips_items {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding-left: 50px;
}